body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
}
.container {
    border: 1px solid red;
    height: auto;
    width: auto;
    /* display: flex; */
    gap: 4px;
    padding: 8px;
}